<!doctype html>
<html lang="en">
<head>
	<title>DBMS group-7</title>]
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="/design/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/design/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/design/query.css">
  <style media="screen">
    .login_form{
      left-margin: 280px;
    }
		.viewer_btn{
			background-color: #01579B;
			padding-left: 10px;
			padding-right: 10px;
		}
		.dev_btn{
			background-color: #EEFF41;
			padding-left: 10px;
			padding-right: 10px;
		}
		.admin_btn{
			background-color: #D84315;
			padding-left: 10px;
			padding-right: 10px;
		}
		.user_name{
          color: #ffffff;
        }
  </style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default fixed-top">
		<% if (btn==2)  { %>
      <a class="navbar-brand dev_btn" href=<%=link%>>DBMS</a> <span class="user_name"><%= user %></span>
    <%}  else if (btn==3)  { %>
      <a class="navbar-brand admin_btn" href=<%=link%>>DBMS</a> <span class="user_name"><%= user %></span>
    <% } else{ %>
        <a class="navbar-brand viewer_btn" href=<%=link%>>DBMS</a> <span class="user_name"><%= user %></span>
      <%}%>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav navbar-left">
				<li class="nav-item ">
					<a role="button" class="btn btn-dark btn-outline-primary btn-sm mycss" href=<%= link + "login-viewer" %> >Viewer</a>
				</li>
				<li class="nav-item ">
					<a role="button" class="btn btn-dark btn-outline-warning btn-sm mycss" href=<%=link + "login-developer" %>>Developer</a>
				</li>
				<li class="nav-item">
					<a role="button" class="btn btn-dark btn-outline-danger btn-sm mycss" href=<%=link + "login-admin" %>>Admin</a>
				</li>
        <li class="nav-item">
          <a role="button" class="btn btn-dark btn-outline-success btn-sm mycss" href=<%=link + "register"%>>Register</a>
        </li>
				<li class="nav-item">
          <a role="button" class="btn btn-dark btn-outline-secondary btn-sm mycss" href=<%=link + "home"%>>Logout</a>
        </li>
			</ul>
		</div>
	</nav>
	<br>

	<div class="container ">
      <% if (log==1)  { %>
		      <h1 class="display-5">Register in the Database</h1>
      <%}  else if (log==3)  { %>

					<% if (btn==2)  { %>
							<h1 class="display-5">Login to the Database as Developer</h1>
					<%}  else if (btn==3)  { %>
						 <h1 class="display-5">Login to the Database as Admin</h1>
					<% } else{ %>
						 <h1 class="display-5">Login to the Database as Viewer</h1>
						<%}%>
      <% }%>
	</div>

	<% if(flag) { %>

	<div class="container">
		<% if (log==1)  { %>
					<form action="/submitted" method="POST">
		<%}  else if (log==3)  { %>
				<form action="/logged" method="POST">
		<% }%>

			<div class="login_form container form-start col-6 ">


				<div class="jumbotron ">
					<%if(login_flag==false){%>
					<center><h6>Login failed!! Try again...</h6></center>
					<%}%>
					<div class="form-group">
						<label for="name">Name </label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
					</div>
					<div class="form-group">
						<label for="emailHelp">Email </label>
						<input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="password">Password </label>
						<input type="password" class="form-control" id="password" name="password"
							placeholder="Enter password">
					</div>
					<div class="form-group">
						<label for="role">Login Mode</label>
							<select class="form-control" id="role" name="role">
								<option>VIEWER</option>
								<option>DEVELOPER</option>
								<option>ADMIN</option>
							</select>
					</div>

					<br> <br>
						<a href=<%=link +"home"%> type="button" class="btn btn-primary">Return to Home</a>
          <% if (log==1)  { %>
					     <button type="submit" class="btn btn-primary">Submit Request</button>
          <%}  else if (log==3)  { %>
            	<button type="submit" class="btn btn-primary">Login</button>
          <% }  %>
				</div>

			</div>

		</form>


	</div>

	<% } else{ %>
	<div class="jumbotron container">
		<% if (log==1)  { %>
					<h1 class="display-1" id="ok">Successfully registered in the Data-Base</h1>
		<%}  else if (log==3)  { %>
			<% if (btn==2)  { %>
					<h1 class="display-1" id="ok">Successfully logged in the Data-Base as Developer</h1>
			<%}  else if (btn==3)  { %>
					<h1 class="display-1" id="ok">Successfully logged in the Data-Base as Admin</h1>
			<% } else{ %>
						<h1 class="display-1" id="ok">Successfully logged in the Data-Base as Viewer</h1>
				<%}%>
		<% }%>

		<a href=<%=link%> id="okButton" class="btn btn btn-dark btn-outline-info btn-sm align-middle">Home Page</a>
		<% } %>

	<script src="/design/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="/design/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="/design/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
